.carousel {
  display: flex;
}

.card {
  border-radius: 4px;
  font-size: 10px;
  height: 160px;
  width: 160px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* no deberia centrarse todo solo con flexbox??? Tuve que agregar text align center.... */
}

.price {
  border-bottom: .1px solid lightgrey;
  width: 100%;
  font-size: 14px;
}


img {
  width: 80px;
}